#message-parent {
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
}

label {
    display: block;
    clear: both;
    width: 500px;
}

label span {
    float: left;
}

label input {
    float: right;
}

label label span {
    float: right;
}